@import "../../../../assets/scss/index.scss";

:host {
  height: 5em;
  @include gradient-default(90deg);
  color: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
  span {
    color: $gray;
    font-weight: lighter;
    font-style: italic;
  }
}
