@import "../../../../assets/scss/index.scss";

:host {
  @include handy-content;
}

img {
  @include handy-content-img;
  @include responsive(md) {
    display: none;
  }
}

form {
  @include handy-content-form;
  @include responsive(md) {
    width: 65%;
  }

  .handy-date {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    mat-form-field {
      width: 45%;
    }
  }
}
