@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "./assets/scss/index.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.owl-dt-container-control-button .owl-dt-control-button-content {
  color: $primary;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $primary;
}
